<%- include("partials/head.ejs") %> 
<%- include("partials/nav.ejs") %>
<section class="container text-success p-5 vh-100">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus ad pariatur
    doloribus laborum at quo temporibus corporis fuga nobis, delectus, a
    praesentium? In error earum commodi distinctio provident! Minus, distinctio!
  </p>
  <a class="btn btn-success" href="/">Home</a>
</section>

<%- include("partials/footer.ejs") %>
